# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/
.env/

# Archivos de configuración del entorno
*.env
*.env.*

# imagenes
Data/
Data_Augmented/
Data_Resized/
